@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: #7e4112;
    --black-color : #222;
    --white-color : #fff
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* 스크롤 커스텀 */
html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;}

/* 드래그 블록 커스텀 */
::selection { background-color:var(--main-color); color:#fff; }


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ margin: 0; font-family: "Hakgyoansim Chaekgalpi R"; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }


main{ background-color: #efefef; display: flex; align-items: center; justify-content: center; padding: 0 4vw; }
main .main-section{ width: 100%; max-width: 400px; min-height: 100vh; }
main .main-section .title{ font-weight: 700; text-align: center; font-size: 30px; margin: 20px 0; }
main .main-section img{ max-width: 100%; }
main .result-div{ margin-top: 20px; display: flex; gap: 5px; }
main .result-div .ipt{ flex-grow: 1; padding: 10px; border: 1px solid #afafaf;  }
main .result-div .submit-btn{ cursor: pointer; flex-shrink: 0; padding: 5px 10px; border: none; background-color: #222; color: #fff; }
main .result-box{ margin-top: 20px; display: none; }
main .result-box.show{ display: block; }
main .failure-box{ margin-top: 20px; text-align: center; color: rgb(185, 0, 0);  display: none; }
main .failure-box.show{ display: block; }